extends layout

block content
  img(src='/img/shougun.png', width='122', height='122', class='shougun')
  h1 About Shogun
  p(style='margin: 50px 0;') Shogun is a real-time game app that simulates the well received board game - the Duke.


  h2 What features are supported?
  p Shogun supports both 1-player mode with an AI and real-time 2-player mode with another person.
    | If you reload the window or disconnect from the game, the game will be cancelled.

  p(style='margin-top: 50px')
    a(href='/', class='btn', style='float: none;') Home
