.unit {
/* 	height: auto; 
    width: auto;  */
    // max-width: 98px; 
    // max-height: 98px;
	width: 98px;
	height: 98px;
	background-size:contain;
	//background-color: red;

}

.litup {
  width: 98px;
  height: 98px;
  background-color: red;
  animation: loopGlow 1s cubic-bezier(0.47, 0, 0.75, 0.72) infinite;

}

.strikable {
	width: 98px;
	height: 98px;
	background-color: yellow;
	animation: loopGlow 1s cubic-bezier(0.47, 0, 0.75, 0.72) infinite;
}

.droppable {
	width: 98px;
	height: 98px;
	background-color: #00ffd2;
	animation: loopGlow 1s cubic-bezier(0.47, 0, 0.75, 0.72) infinite;
}

@keyframes loopGlow {
	0% {opacity: 0.1; }
	50% {opacity: 0.5; }
	100% {opacity: 0.1; }
}

.Assassin {
	&.white{

		&.front{
			background-image: url("/img/Assassin_front.png");			
		}
		&.back {
			background-image: url("/img/Assassin_back.png");			
		}
	}
	&.black{
		&.front{
			background-image: url("/img/Assassin_front_black.png");			
		}
		&.back {
			background-image: url("/img/Assassin_back_black.png");			
		}
	}
}

.Bowman {
	&.white{

		&.front{
			background-image: url("/img/Bowman_front.png");			
		}
		&.back {
			background-image: url("/img/Bowman_back.png");			
		}
	}
	&.black{
		&.front{
			background-image: url("/img/Bowman_front_black.png");			
		}
		&.back {
			background-image: url("/img/Bowman_back_black.png");			
		}
	}
}

.Champion {
	&.white{

		&.front{
			background-image: url("/img/Champion_front.png");			
		}
		&.back {
			background-image: url("/img/Champion_back.png");			
		}
	}
	&.black{
		&.front{
			background-image: url("/img/Champion_front_black.png");			
		}
		&.back {
			background-image: url("/img/Champion_back_black.png");			
		}
	}
}

.Dragoon {
	&.white{

		&.front{
			background-image: url("/img/Dragoon_front.png");			
		}
		&.back {
			background-image: url("/img/Dragoon_back.png");			
		}
	}
	&.black{
		&.front{
			background-image: url("/img/Dragoon_front_black.png");			
		}
		&.back {
			background-image: url("/img/Dragoon_back_black.png");			
		}
	}
}

.Duchess {
	&.white{

		&.front{
			background-image: url("/img/Duchess_front.png");			
		}
		&.back {
			background-image: url("/img/Duchess_back.png");			
		}
	}
	&.black{
		&.front{
			background-image: url("/img/Duchess_front_black.png");			
		}
		&.back {
			background-image: url("/img/Duchess_back_black.png");			
		}
	}
}

.Duke {
	&.white{

		&.front{
			background-image: url("/img/Duke_front.png");			
		}
		&.back {
			background-image: url("/img/Duke_back.png");			
		}
	}
	&.black{
		&.front{
			background-image: url("/img/Duke_front_black.png");			
		}
		&.back {
			background-image: url("/img/Duke_back_black.png");			
		}
	}
}

.Footman {
	&.white{

		&.front{
			background-image: url("/img/Footman_front.png");			
		}
		&.back {
			background-image: url("/img/Footman_back.png");			
		}
	}
	&.black{
		&.front{
			background-image: url("/img/Footman_front_black.png");			
		}
		&.back {
			background-image: url("/img/Footman_back_black.png");			
		}
	}
}

.Knight {
	&.white{

		&.front{
			background-image: url("/img/Knight_front.png");			
		}
		&.back {
			background-image: url("/img/Knight_back.png");			
		}
	}
	&.black{
		&.front{
			background-image: url("/img/Knight_front_black.png");			
		}
		&.back {
			background-image: url("/img/Knight_back_black.png");			
		}
	}
}

.Longbowman {
	&.white{

		&.front{
			background-image: url("/img/Longbowman_front.png");			
		}
		&.back {
			background-image: url("/img/Longbowman_back.png");			
		}
	}
	&.black{
		&.front{
			background-image: url("/img/Longbowman_front_black.png");			
		}
		&.back {
			background-image: url("/img/Longbowman_back_black.png");			
		}
	}
}

.Marshall {
	&.white{

		&.front{
			background-image: url("/img/Marshall_front.png");			
		}
		&.back {
			background-image: url("/img/Marshall_back.png");			
		}
	}
	&.black{
		&.front{
			background-image: url("/img/Marshall_front_black.png");			
		}
		&.back {
			background-image: url("/img/Marshall_back_black.png");			
		}
	}
}

.Oracle {
	&.white{

		&.front{
			background-image: url("/img/Oracle_front.png");			
		}
		&.back {
			background-image: url("/img/Oracle_back.png");			
		}
	}
	&.black{
		&.front{
			background-image: url("/img/Oracle_front_black.png");			
		}
		&.back {
			background-image: url("/img/Oracle_back_black.png");			
		}
	}
}

.Pikeman {
	&.white{

		&.front{
			background-image: url("/img/Pikeman_front.png");			
		}
		&.back {
			background-image: url("/img/Pikeman_back.png");			
		}
	}
	&.black{
		&.front{
			background-image: url("/img/Pikeman_front_black.png");			
		}
		&.back {
			background-image: url("/img/Pikeman_back_black.png");			
		}
	}
}

.Priest {
	&.white{

		&.front{
			background-image: url("/img/Priest_front.png");			
		}
		&.back {
			background-image: url("/img/Priest_back.png");			
		}
	}
	&.black{
		&.front{
			background-image: url("/img/Priest_front_black.png");			
		}
		&.back {
			background-image: url("/img/Priest_back_black.png");			
		}
	}
}

.Ranger {
	&.white{

		&.front{
			background-image: url("/img/Ranger_front.png");			
		}
		&.back {
			background-image: url("/img/Ranger_back.png");			
		}
	}
	&.black{
		&.front{
			background-image: url("/img/Ranger_front_black.png");			
		}
		&.back {
			background-image: url("/img/Ranger_back_black.png");			
		}
	}
}

.Seer {
	&.white{

		&.front{
			background-image: url("/img/Seer_front.png");			
		}
		&.back {
			background-image: url("/img/Seer_back.png");			
		}
	}
	&.black{
		&.front{
			background-image: url("/img/Seer_front_black.png");			
		}
		&.back {
			background-image: url("/img/Seer_back_black.png");			
		}
	}
}

.Wizard {
	&.white{

		&.front{
			background-image: url("/img/Wizard_front.png");			
		}
		&.back {
			background-image: url("/img/Wizard_back.png");			
		}
	}
	&.black{
		&.front{
			background-image: url("/img/Wizard_front_black.png");			
		}
		&.back {
			background-image: url("/img/Wizard_back_black.png");			
		}
	}
}

