.unit {
/* 	height: auto; 
    width: auto;  */
    // max-width: 98px; 
    // max-height: 98px;
	width: 98px;
	height: 98px;
		background-size:contain;
	//background-color: red;

}

.litup {
  width: 98px;
  height: 98px;
  background-color: red;
  opacity: 0.5;

}

.Duke {

	&.white{

		&.front{
			background-image: url("/img/Duke_front.png");			
		}
		&.back {
			background-image: url("/img/Duke_back.png");			
		}
	}
	&.black{
		&.front{
			background-image: url("/img/Duke_front_black.png");			
		}
		&.back {
			background-image: url("/img/Duke_back_black.png");			
		}
	}
	//background: url('image.jpg') no-repeat;
  // background-size:contain;
}

.Footman {

	&.white{

		&.front{
			background-image: url("/img/Footman_front.png");			
		}
		&.back {
			background-image: url("/img/Footman_back.png");			
		}
	}
	&.black{
		&.front{
			background-image: url("/img/Footman_front_black.png");			
		}
		&.back {
			background-image: url("/img/Footman_back_black.png");			
		}
	}

}

